<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.iffy.fikhustaz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <dist:module dist:instant="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.iffy.fikhustaz.views.fragment.materi.uploadmateri.AddMateriActivity" android:label="Submit Materi Fikh">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity>
        <activity
                android:name=".views.activity.hadits.HaditsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.activity.editprof.upload.VerifyActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity>
        <activity android:name=".views.activity.quran.SurahActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity> <!-- FCM -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/logo_app_fikh"/>

        <service
                android:name=".service.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service> <!-- Content Provider -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.iffy.fikhustaz.provider_paths"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".views.activity.detailmateri.DetailMateriActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity>
        <activity
                android:name=".views.activity.editprof.EditProfileActivity"
                android:label="Edit Profile">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity>
        <activity android:name=".views.activity.chat.ChatActivity">
            <intent-filter>
                <action android:name="ChatActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity>
        <activity
                android:name=".views.activity.reset.ResetActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.activity.materi.MateriActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.iffy.fikhustaz.views.activity.HomeActivity"/>
        </activity>
        <activity
                android:name=".views.activity.SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.HomeActivity">
        </activity>
        <activity
                android:name=".views.activity.register.RegisterActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".views.activity.login.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>